.outer-container{
    background-color: rgb(242, 241, 241);
    padding: 2%;
    
}
.container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: auto;
    max-width: 750px;
}
.item{
    color:rgb(230, 251, 114);
    min-width: 90px;
    margin-right: 4px;
    background-color:rgb(48, 47, 50);
    border-radius: 4px;
    padding: 1%;
    flex-grow: 2;
}

.heading{
    text-align: center;
    color: rgb(181, 192, 192);
    
}

@media screen and (min-width: 600px) {
    .container{
        justify-content:space-evenly;
    }
  }

  @media screen and (min-width: 1023px) {
    .container{
        width: 750px;
    }
  }