body{
  background-color: #1919a4;
  justify-content: center;
  height:100vh;
}

/* .singleday:hover{
  background-color: #4b4c4e;
  transform:scale(1.2);
  box-shadow: 2px 2px 2px #121609;   
} */

button{
  height: 35px;
  width: 70px;
  color: rgb(211, 52, 52);
  background-color: rgb(12, 12, 12);
}
