html,body{
  background-color: rgb(140, 140, 140);
  justify-content: center;
  height:100%;
}

button{
  height: 35px;
  width: 70px;
  color: rgb(211, 52, 52);
  background-color: rgb(12, 12, 12);
}
